# Xcode
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode build output
build/
DerivedData/

# Xcode user-specific workspace settings (contain local file paths & window layout)
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

# Swift Package Manager
.build/
.swiftpm/
*.resolved

# CocoaPods (not used here, but good to have)
Pods/
Podfile.lock

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# OS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# Editor
.idea/
.vscode/
*.swp
*.swo
